@require '~vuepress-plugin-tabs/dist/themes/default.styl'

body .navbar .site-name {
  display: none;
}

body .navbar .links {
  display: grid;
  grid: 1fr / 1fr;
  grid-gap: 1rem;
  grid-template-areas: "left right";
}

body .navbar .search-box {
  grid-area: right;
  margin-right: 0;
}

body .navbar nav {
  grid-area: left;
}

.tabs-component-tab
  padding 5px 10px

  a:hover
    text-decoration none !important

// body main.page {
//   display: grid;
//   grid: 1fr 1fr / 8fr 1fr;
//   grid-template-areas: "left right" "bottom bottom";
// }

// .theme-default-content {
//   grid-area: left;
// }

// body footer {
//   grid-area: bottom;
// }

// .page-nav {
//   grid-area: bottom;
// }